---
import { BskyAgent } from "@atproto/api";
import type { AtpSessionEvent, AtpSessionData } from "@atproto/api";

import Login from "../components/Login.astro";
import FollowersList from "../components/FollowersList";

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  if (data.has("logout")) {
    Astro.cookies.delete("bsky-session");
  } else if (data.has("bsky_email") && data.has("bsky_password")) {
    const AGENT = new BskyAgent({
      service: "https://bsky.social",
      persistSession: (_evt: AtpSessionEvent, sess?: AtpSessionData) => {
        if (sess) {
          Astro.cookies.set("bsky-session", sess);
        }
      },
    });
    await AGENT.login({
      identifier: data.get("bsky_email") as string,
      password: data.get("bsky_password") as string,
    });
  }
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Find the Hidden Gems following you 💎</h1>
    <Login />
    <FollowersList client:load />
  </body>
</html>
