---
import * as bsky from "@atproto/api";
// TODO: I don't know why this needs .default (only on Vercel), and at this point i'm tired of fighting with it
// @ts-ignore
const { BskyAgent } = bsky.BskyAgent ? bsky : bsky.default;
import type { AtpSessionEvent, AtpSessionData } from "@atproto/api";

import Login from "../components/Login.astro";
import FollowersList from "../components/FollowersList";

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  if (data.has("logout")) {
    Astro.cookies.delete("bsky-session");
  } else if (data.has("bsky_email") && data.has("bsky_password")) {
    const AGENT = new BskyAgent({
      service: "https://bsky.social",
      persistSession: (_evt: AtpSessionEvent, sess?: AtpSessionData) => {
        if (sess) {
          Astro.cookies.set("bsky-session", sess);
        }
      },
    });
    await AGENT.login({
      identifier: data.get("bsky_email") as string,
      password: data.get("bsky_password") as string,
    });
  }
}

const description = `Order your followers by their followers/following ratio, and fight the dishonorable practice of fishing for "follow backs".`;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Hidden Gems 💎</title>
    <meta property="twitter:description" content={description} />
    <meta property="description" content={description} />
    <meta property="og:description" content={description} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content="/preview.jpeg" />
    <meta property="og:image" content="/preview.jpeg" />
  </head>
  <body class="flex flex-col gap-4 items-center p-4">
    <h1 class="text-xl">Hidden Gems 💎</h1>
    <div class="max-w-md">
      Order your followers by their followers/following ratio, and fight the
      dishonorable practice of fishing for "follow backs".
    </div>
    <a href="https://github.com/essential-randomness/hidden-gems"
      ><img class="max-w-[50px]" src="/github-mark.png" /></a
    >
    <a
      class="underline hover:text-cyan-500"
      href="https://staging.bsky.app/profile/essentialrandom.bsky.social"
      >A Random Production™</a
    >
    <Login />
    <FollowersList client:only />
  </body>
</html>
