---
const { BSKY_USERNAME, BSKY_PASSWORD } = import.meta.env;

const sess = Astro.cookies.get("bsky-session").value;
---

{
  sess ? (
    <form method="post">
      <input type="hidden" name="logout" />
      <input type="submit" value="logout" />
    </form>
  ) : (
    <form method="post">
      <input name="bsky_email" type="email" required value={BSKY_USERNAME} />
      <input
        name="bsky_password"
        type="password"
        required
        value={BSKY_PASSWORD}
      />
      <input type="submit" />
    </form>
  )
}
